[data-component-id="drupalcamp:ticket"] {
  background-color: oklch(1 0 0 / 0.7);
  border-radius: 17px;
  box-sizing: border-box;
  padding: 32px;
  width: 100%;
}

[data-component-id="drupalcamp:ticket"] .title {
  font-weight: 700;
  padding-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
}

[data-component-id="drupalcamp:ticket"] .price {
  font-size: calc(var(--font-size) * 3.10);
  font-weight: 700;
  line-height: calc(var(--font-line-height) * 3.10);
  padding-bottom: 1rem;
  text-align: center;
  transition: var(--transition);
}

[data-component-id="drupalcamp:ticket"] .link {
  padding-top: 1rem;
  text-align: center;
}

[data-component-id="drupalcamp:ticket"] .link a {
  width: 100%;
}

[data-component-id="drupalcamp:ticket"].ticket--disabled {
  opacity: 0.5;
  pointer-events: none;
}